.text-red {
  color: #e61919;
}

.text-hover-red:hover {
  color: #e61919;
}

.bg-red {
  background-color: #e61919;
}

.text-red-light-1 {
  color: #e93030;
}

.text-hover-red-light-1:hover {
  color: #e93030;
}

.bg-red-light-1 {
  background-color: #e93030;
}

.text-red-light-2 {
  color: #eb4747;
}

.text-hover-red-light-2:hover {
  color: #eb4747;
}

.bg-red-light-2 {
  background-color: #eb4747;
}

.text-red-light-3 {
  color: #ee5e5e;
}

.text-hover-red-light-3:hover {
  color: #ee5e5e;
}

.bg-red-light-3 {
  background-color: #ee5e5e;
}

.text-red-light-4 {
  color: #f07575;
}

.text-hover-red-light-4:hover {
  color: #f07575;
}

.bg-red-light-4 {
  background-color: #f07575;
}

.text-red-light-5 {
  color: #f38c8c;
}

.text-hover-red-light-5:hover {
  color: #f38c8c;
}

.bg-red-light-5 {
  background-color: #f38c8c;
}

.text-red-light-6 {
  color: #f5a3a3;
}

.text-hover-red-light-6:hover {
  color: #f5a3a3;
}

.bg-red-light-6 {
  background-color: #f5a3a3;
}

.text-red-light-7 {
  color: #f8baba;
}

.text-hover-red-light-7:hover {
  color: #f8baba;
}

.bg-red-light-7 {
  background-color: #f8baba;
}

.text-red-light-8 {
  color: #fad1d1;
}

.text-hover-red-light-8:hover {
  color: #fad1d1;
}

.bg-red-light-8 {
  background-color: #fad1d1;
}

.text-red-light-9 {
  color: #fde8e8;
}

.text-hover-red-light-9:hover {
  color: #fde8e8;
}

.bg-red-light-9 {
  background-color: #fde8e8;
}

.text-red-dark-1 {
  color: #cf1717;
}

.text-hover-red-dark-1:hover {
  color: #cf1717;
}

.bg-red-dark-1 {
  background-color: #cf1717;
}

.text-red-dark-2 {
  color: #b81414;
}

.text-hover-red-dark-2:hover {
  color: #b81414;
}

.bg-red-dark-2 {
  background-color: #b81414;
}

.text-red-dark-3 {
  color: #a11212;
}

.text-hover-red-dark-3:hover {
  color: #a11212;
}

.bg-red-dark-3 {
  background-color: #a11212;
}

.text-red-dark-4 {
  color: #8a0f0f;
}

.text-hover-red-dark-4:hover {
  color: #8a0f0f;
}

.bg-red-dark-4 {
  background-color: #8a0f0f;
}

.text-red-dark-5 {
  color: #730d0d;
}

.text-hover-red-dark-5:hover {
  color: #730d0d;
}

.bg-red-dark-5 {
  background-color: #730d0d;
}

.text-red-dark-6 {
  color: #5c0a0a;
}

.text-hover-red-dark-6:hover {
  color: #5c0a0a;
}

.bg-red-dark-6 {
  background-color: #5c0a0a;
}

.text-red-dark-7 {
  color: #450808;
}

.text-hover-red-dark-7:hover {
  color: #450808;
}

.bg-red-dark-7 {
  background-color: #450808;
}

.text-red-dark-8 {
  color: #2e0505;
}

.text-hover-red-dark-8:hover {
  color: #2e0505;
}

.bg-red-dark-8 {
  background-color: #2e0505;
}

.text-red-dark-9 {
  color: #170303;
}

.text-hover-red-dark-9:hover {
  color: #170303;
}

.bg-red-dark-9 {
  background-color: #170303;
}

.text-yellow {
  color: #e6e619;
}

.text-hover-yellow:hover {
  color: #e6e619;
}

.bg-yellow {
  background-color: #e6e619;
}

.text-yellow-light-1 {
  color: #e9e930;
}

.text-hover-yellow-light-1:hover {
  color: #e9e930;
}

.bg-yellow-light-1 {
  background-color: #e9e930;
}

.text-yellow-light-2 {
  color: #ebeb47;
}

.text-hover-yellow-light-2:hover {
  color: #ebeb47;
}

.bg-yellow-light-2 {
  background-color: #ebeb47;
}

.text-yellow-light-3 {
  color: #eeee5e;
}

.text-hover-yellow-light-3:hover {
  color: #eeee5e;
}

.bg-yellow-light-3 {
  background-color: #eeee5e;
}

.text-yellow-light-4 {
  color: #f0f075;
}

.text-hover-yellow-light-4:hover {
  color: #f0f075;
}

.bg-yellow-light-4 {
  background-color: #f0f075;
}

.text-yellow-light-5 {
  color: #f3f38c;
}

.text-hover-yellow-light-5:hover {
  color: #f3f38c;
}

.bg-yellow-light-5 {
  background-color: #f3f38c;
}

.text-yellow-light-6 {
  color: #f5f5a3;
}

.text-hover-yellow-light-6:hover {
  color: #f5f5a3;
}

.bg-yellow-light-6 {
  background-color: #f5f5a3;
}

.text-yellow-light-7 {
  color: #f8f8ba;
}

.text-hover-yellow-light-7:hover {
  color: #f8f8ba;
}

.bg-yellow-light-7 {
  background-color: #f8f8ba;
}

.text-yellow-light-8 {
  color: #fafad1;
}

.text-hover-yellow-light-8:hover {
  color: #fafad1;
}

.bg-yellow-light-8 {
  background-color: #fafad1;
}

.text-yellow-light-9 {
  color: #fdfde8;
}

.text-hover-yellow-light-9:hover {
  color: #fdfde8;
}

.bg-yellow-light-9 {
  background-color: #fdfde8;
}

.text-yellow-dark-1 {
  color: #cfcf17;
}

.text-hover-yellow-dark-1:hover {
  color: #cfcf17;
}

.bg-yellow-dark-1 {
  background-color: #cfcf17;
}

.text-yellow-dark-2 {
  color: #b8b814;
}

.text-hover-yellow-dark-2:hover {
  color: #b8b814;
}

.bg-yellow-dark-2 {
  background-color: #b8b814;
}

.text-yellow-dark-3 {
  color: #a1a112;
}

.text-hover-yellow-dark-3:hover {
  color: #a1a112;
}

.bg-yellow-dark-3 {
  background-color: #a1a112;
}

.text-yellow-dark-4 {
  color: #8a8a0f;
}

.text-hover-yellow-dark-4:hover {
  color: #8a8a0f;
}

.bg-yellow-dark-4 {
  background-color: #8a8a0f;
}

.text-yellow-dark-5 {
  color: #73730d;
}

.text-hover-yellow-dark-5:hover {
  color: #73730d;
}

.bg-yellow-dark-5 {
  background-color: #73730d;
}

.text-yellow-dark-6 {
  color: #5c5c0a;
}

.text-hover-yellow-dark-6:hover {
  color: #5c5c0a;
}

.bg-yellow-dark-6 {
  background-color: #5c5c0a;
}

.text-yellow-dark-7 {
  color: #454508;
}

.text-hover-yellow-dark-7:hover {
  color: #454508;
}

.bg-yellow-dark-7 {
  background-color: #454508;
}

.text-yellow-dark-8 {
  color: #2e2e05;
}

.text-hover-yellow-dark-8:hover {
  color: #2e2e05;
}

.bg-yellow-dark-8 {
  background-color: #2e2e05;
}

.text-yellow-dark-9 {
  color: #171703;
}

.text-hover-yellow-dark-9:hover {
  color: #171703;
}

.bg-yellow-dark-9 {
  background-color: #171703;
}

.text-green {
  color: #19e650;
}

.text-hover-green:hover {
  color: #19e650;
}

.bg-green {
  background-color: #19e650;
}

.text-green-light-1 {
  color: #30e962;
}

.text-hover-green-light-1:hover {
  color: #30e962;
}

.bg-green-light-1 {
  background-color: #30e962;
}

.text-green-light-2 {
  color: #47eb73;
}

.text-hover-green-light-2:hover {
  color: #47eb73;
}

.bg-green-light-2 {
  background-color: #47eb73;
}

.text-green-light-3 {
  color: #5eee85;
}

.text-hover-green-light-3:hover {
  color: #5eee85;
}

.bg-green-light-3 {
  background-color: #5eee85;
}

.text-green-light-4 {
  color: #75f096;
}

.text-hover-green-light-4:hover {
  color: #75f096;
}

.bg-green-light-4 {
  background-color: #75f096;
}

.text-green-light-5 {
  color: #8cf3a8;
}

.text-hover-green-light-5:hover {
  color: #8cf3a8;
}

.bg-green-light-5 {
  background-color: #8cf3a8;
}

.text-green-light-6 {
  color: #a3f5b9;
}

.text-hover-green-light-6:hover {
  color: #a3f5b9;
}

.bg-green-light-6 {
  background-color: #a3f5b9;
}

.text-green-light-7 {
  color: #baf8cb;
}

.text-hover-green-light-7:hover {
  color: #baf8cb;
}

.bg-green-light-7 {
  background-color: #baf8cb;
}

.text-green-light-8 {
  color: #d1fadc;
}

.text-hover-green-light-8:hover {
  color: #d1fadc;
}

.bg-green-light-8 {
  background-color: #d1fadc;
}

.text-green-light-9 {
  color: #e8fdee;
}

.text-hover-green-light-9:hover {
  color: #e8fdee;
}

.bg-green-light-9 {
  background-color: #e8fdee;
}

.text-green-dark-1 {
  color: #17cf48;
}

.text-hover-green-dark-1:hover {
  color: #17cf48;
}

.bg-green-dark-1 {
  background-color: #17cf48;
}

.text-green-dark-2 {
  color: #14b840;
}

.text-hover-green-dark-2:hover {
  color: #14b840;
}

.bg-green-dark-2 {
  background-color: #14b840;
}

.text-green-dark-3 {
  color: #12a138;
}

.text-hover-green-dark-3:hover {
  color: #12a138;
}

.bg-green-dark-3 {
  background-color: #12a138;
}

.text-green-dark-4 {
  color: #0f8a30;
}

.text-hover-green-dark-4:hover {
  color: #0f8a30;
}

.bg-green-dark-4 {
  background-color: #0f8a30;
}

.text-green-dark-5 {
  color: #0d7328;
}

.text-hover-green-dark-5:hover {
  color: #0d7328;
}

.bg-green-dark-5 {
  background-color: #0d7328;
}

.text-green-dark-6 {
  color: #0a5c20;
}

.text-hover-green-dark-6:hover {
  color: #0a5c20;
}

.bg-green-dark-6 {
  background-color: #0a5c20;
}

.text-green-dark-7 {
  color: #084518;
}

.text-hover-green-dark-7:hover {
  color: #084518;
}

.bg-green-dark-7 {
  background-color: #084518;
}

.text-green-dark-8 {
  color: #052e10;
}

.text-hover-green-dark-8:hover {
  color: #052e10;
}

.bg-green-dark-8 {
  background-color: #052e10;
}

.text-green-dark-9 {
  color: #031708;
}

.text-hover-green-dark-9:hover {
  color: #031708;
}

.bg-green-dark-9 {
  background-color: #031708;
}

.text-purple {
  color: #e319e6;
}

.text-hover-purple:hover {
  color: #e319e6;
}

.bg-purple {
  background-color: #e319e6;
}

.text-purple-light-1 {
  color: #e630e9;
}

.text-hover-purple-light-1:hover {
  color: #e630e9;
}

.bg-purple-light-1 {
  background-color: #e630e9;
}

.text-purple-light-2 {
  color: #e947eb;
}

.text-hover-purple-light-2:hover {
  color: #e947eb;
}

.bg-purple-light-2 {
  background-color: #e947eb;
}

.text-purple-light-3 {
  color: #eb5eee;
}

.text-hover-purple-light-3:hover {
  color: #eb5eee;
}

.bg-purple-light-3 {
  background-color: #eb5eee;
}

.text-purple-light-4 {
  color: #ee75f0;
}

.text-hover-purple-light-4:hover {
  color: #ee75f0;
}

.bg-purple-light-4 {
  background-color: #ee75f0;
}

.text-purple-light-5 {
  color: #f18cf3;
}

.text-hover-purple-light-5:hover {
  color: #f18cf3;
}

.bg-purple-light-5 {
  background-color: #f18cf3;
}

.text-purple-light-6 {
  color: #f4a3f5;
}

.text-hover-purple-light-6:hover {
  color: #f4a3f5;
}

.bg-purple-light-6 {
  background-color: #f4a3f5;
}

.text-purple-light-7 {
  color: #f7baf8;
}

.text-hover-purple-light-7:hover {
  color: #f7baf8;
}

.bg-purple-light-7 {
  background-color: #f7baf8;
}

.text-purple-light-8 {
  color: #f9d1fa;
}

.text-hover-purple-light-8:hover {
  color: #f9d1fa;
}

.bg-purple-light-8 {
  background-color: #f9d1fa;
}

.text-purple-light-9 {
  color: #fce8fd;
}

.text-hover-purple-light-9:hover {
  color: #fce8fd;
}

.bg-purple-light-9 {
  background-color: #fce8fd;
}

.text-purple-dark-1 {
  color: #cc17cf;
}

.text-hover-purple-dark-1:hover {
  color: #cc17cf;
}

.bg-purple-dark-1 {
  background-color: #cc17cf;
}

.text-purple-dark-2 {
  color: #b614b8;
}

.text-hover-purple-dark-2:hover {
  color: #b614b8;
}

.bg-purple-dark-2 {
  background-color: #b614b8;
}

.text-purple-dark-3 {
  color: #9f12a1;
}

.text-hover-purple-dark-3:hover {
  color: #9f12a1;
}

.bg-purple-dark-3 {
  background-color: #9f12a1;
}

.text-purple-dark-4 {
  color: #880f8a;
}

.text-hover-purple-dark-4:hover {
  color: #880f8a;
}

.bg-purple-dark-4 {
  background-color: #880f8a;
}

.text-purple-dark-5 {
  color: #720d73;
}

.text-hover-purple-dark-5:hover {
  color: #720d73;
}

.bg-purple-dark-5 {
  background-color: #720d73;
}

.text-purple-dark-6 {
  color: #5b0a5c;
}

.text-hover-purple-dark-6:hover {
  color: #5b0a5c;
}

.bg-purple-dark-6 {
  background-color: #5b0a5c;
}

.text-purple-dark-7 {
  color: #440845;
}

.text-hover-purple-dark-7:hover {
  color: #440845;
}

.bg-purple-dark-7 {
  background-color: #440845;
}

.text-purple-dark-8 {
  color: #2d052e;
}

.text-hover-purple-dark-8:hover {
  color: #2d052e;
}

.bg-purple-dark-8 {
  background-color: #2d052e;
}

.text-purple-dark-9 {
  color: #170317;
}

.text-hover-purple-dark-9:hover {
  color: #170317;
}

.bg-purple-dark-9 {
  background-color: #170317;
}

.text-pink {
  color: #ed8ade;
}

.text-hover-pink:hover {
  color: #ed8ade;
}

.bg-pink {
  background-color: #ed8ade;
}

.text-pink-light-1 {
  color: #ef96e1;
}

.text-hover-pink-light-1:hover {
  color: #ef96e1;
}

.bg-pink-light-1 {
  background-color: #ef96e1;
}

.text-pink-light-2 {
  color: #f1a1e5;
}

.text-hover-pink-light-2:hover {
  color: #f1a1e5;
}

.bg-pink-light-2 {
  background-color: #f1a1e5;
}

.text-pink-light-3 {
  color: #f2ade8;
}

.text-hover-pink-light-3:hover {
  color: #f2ade8;
}

.bg-pink-light-3 {
  background-color: #f2ade8;
}

.text-pink-light-4 {
  color: #f4b9eb;
}

.text-hover-pink-light-4:hover {
  color: #f4b9eb;
}

.bg-pink-light-4 {
  background-color: #f4b9eb;
}

.text-pink-light-5 {
  color: #f6c5ef;
}

.text-hover-pink-light-5:hover {
  color: #f6c5ef;
}

.bg-pink-light-5 {
  background-color: #f6c5ef;
}

.text-pink-light-6 {
  color: #f8d0f2;
}

.text-hover-pink-light-6:hover {
  color: #f8d0f2;
}

.bg-pink-light-6 {
  background-color: #f8d0f2;
}

.text-pink-light-7 {
  color: #fadcf5;
}

.text-hover-pink-light-7:hover {
  color: #fadcf5;
}

.bg-pink-light-7 {
  background-color: #fadcf5;
}

.text-pink-light-8 {
  color: #fbe8f8;
}

.text-hover-pink-light-8:hover {
  color: #fbe8f8;
}

.bg-pink-light-8 {
  background-color: #fbe8f8;
}

.text-pink-light-9 {
  color: #fdf3fc;
}

.text-hover-pink-light-9:hover {
  color: #fdf3fc;
}

.bg-pink-light-9 {
  background-color: #fdf3fc;
}

.text-pink-dark-1 {
  color: #d57cc8;
}

.text-hover-pink-dark-1:hover {
  color: #d57cc8;
}

.bg-pink-dark-1 {
  background-color: #d57cc8;
}

.text-pink-dark-2 {
  color: #be6eb2;
}

.text-hover-pink-dark-2:hover {
  color: #be6eb2;
}

.bg-pink-dark-2 {
  background-color: #be6eb2;
}

.text-pink-dark-3 {
  color: #a6619b;
}

.text-hover-pink-dark-3:hover {
  color: #a6619b;
}

.bg-pink-dark-3 {
  background-color: #a6619b;
}

.text-pink-dark-4 {
  color: #8e5385;
}

.text-hover-pink-dark-4:hover {
  color: #8e5385;
}

.bg-pink-dark-4 {
  background-color: #8e5385;
}

.text-pink-dark-5 {
  color: #77456f;
}

.text-hover-pink-dark-5:hover {
  color: #77456f;
}

.bg-pink-dark-5 {
  background-color: #77456f;
}

.text-pink-dark-6 {
  color: #5f3759;
}

.text-hover-pink-dark-6:hover {
  color: #5f3759;
}

.bg-pink-dark-6 {
  background-color: #5f3759;
}

.text-pink-dark-7 {
  color: #472943;
}

.text-hover-pink-dark-7:hover {
  color: #472943;
}

.bg-pink-dark-7 {
  background-color: #472943;
}

.text-pink-dark-8 {
  color: #2f1c2c;
}

.text-hover-pink-dark-8:hover {
  color: #2f1c2c;
}

.bg-pink-dark-8 {
  background-color: #2f1c2c;
}

.text-pink-dark-9 {
  color: #180e16;
}

.text-hover-pink-dark-9:hover {
  color: #180e16;
}

.bg-pink-dark-9 {
  background-color: #180e16;
}

.text-orange {
  color: #e08920;
}

.text-hover-orange:hover {
  color: #e08920;
}

.bg-orange {
  background-color: #e08920;
}

.text-orange-light-1 {
  color: #e39536;
}

.text-hover-orange-light-1:hover {
  color: #e39536;
}

.bg-orange-light-1 {
  background-color: #e39536;
}

.text-orange-light-2 {
  color: #e6a14d;
}

.text-hover-orange-light-2:hover {
  color: #e6a14d;
}

.bg-orange-light-2 {
  background-color: #e6a14d;
}

.text-orange-light-3 {
  color: #e9ac63;
}

.text-hover-orange-light-3:hover {
  color: #e9ac63;
}

.bg-orange-light-3 {
  background-color: #e9ac63;
}

.text-orange-light-4 {
  color: #ecb879;
}

.text-hover-orange-light-4:hover {
  color: #ecb879;
}

.bg-orange-light-4 {
  background-color: #ecb879;
}

.text-orange-light-5 {
  color: #f0c490;
}

.text-hover-orange-light-5:hover {
  color: #f0c490;
}

.bg-orange-light-5 {
  background-color: #f0c490;
}

.text-orange-light-6 {
  color: #f3d0a6;
}

.text-hover-orange-light-6:hover {
  color: #f3d0a6;
}

.bg-orange-light-6 {
  background-color: #f3d0a6;
}

.text-orange-light-7 {
  color: #f6dcbc;
}

.text-hover-orange-light-7:hover {
  color: #f6dcbc;
}

.bg-orange-light-7 {
  background-color: #f6dcbc;
}

.text-orange-light-8 {
  color: #f9e7d2;
}

.text-hover-orange-light-8:hover {
  color: #f9e7d2;
}

.bg-orange-light-8 {
  background-color: #f9e7d2;
}

.text-orange-light-9 {
  color: #fcf3e9;
}

.text-hover-orange-light-9:hover {
  color: #fcf3e9;
}

.bg-orange-light-9 {
  background-color: #fcf3e9;
}

.text-orange-dark-1 {
  color: #ca7b1d;
}

.text-hover-orange-dark-1:hover {
  color: #ca7b1d;
}

.bg-orange-dark-1 {
  background-color: #ca7b1d;
}

.text-orange-dark-2 {
  color: #b36e1a;
}

.text-hover-orange-dark-2:hover {
  color: #b36e1a;
}

.bg-orange-dark-2 {
  background-color: #b36e1a;
}

.text-orange-dark-3 {
  color: #9d6016;
}

.text-hover-orange-dark-3:hover {
  color: #9d6016;
}

.bg-orange-dark-3 {
  background-color: #9d6016;
}

.text-orange-dark-4 {
  color: #865213;
}

.text-hover-orange-dark-4:hover {
  color: #865213;
}

.bg-orange-dark-4 {
  background-color: #865213;
}

.text-orange-dark-5 {
  color: #704510;
}

.text-hover-orange-dark-5:hover {
  color: #704510;
}

.bg-orange-dark-5 {
  background-color: #704510;
}

.text-orange-dark-6 {
  color: #5a370d;
}

.text-hover-orange-dark-6:hover {
  color: #5a370d;
}

.bg-orange-dark-6 {
  background-color: #5a370d;
}

.text-orange-dark-7 {
  color: #43290a;
}

.text-hover-orange-dark-7:hover {
  color: #43290a;
}

.bg-orange-dark-7 {
  background-color: #43290a;
}

.text-orange-dark-8 {
  color: #2d1b06;
}

.text-hover-orange-dark-8:hover {
  color: #2d1b06;
}

.bg-orange-dark-8 {
  background-color: #2d1b06;
}

.text-orange-dark-9 {
  color: #160e03;
}

.text-hover-orange-dark-9:hover {
  color: #160e03;
}

.bg-orange-dark-9 {
  background-color: #160e03;
}

.text-brown {
  color: #b3800a;
}

.text-hover-brown:hover {
  color: #b3800a;
}

.bg-brown {
  background-color: #b3800a;
}

.text-brown-light-1 {
  color: #bb8d23;
}

.text-hover-brown-light-1:hover {
  color: #bb8d23;
}

.bg-brown-light-1 {
  background-color: #bb8d23;
}

.text-brown-light-2 {
  color: #c2993b;
}

.text-hover-brown-light-2:hover {
  color: #c2993b;
}

.bg-brown-light-2 {
  background-color: #c2993b;
}

.text-brown-light-3 {
  color: #caa654;
}

.text-hover-brown-light-3:hover {
  color: #caa654;
}

.bg-brown-light-3 {
  background-color: #caa654;
}

.text-brown-light-4 {
  color: #d1b36c;
}

.text-hover-brown-light-4:hover {
  color: #d1b36c;
}

.bg-brown-light-4 {
  background-color: #d1b36c;
}

.text-brown-light-5 {
  color: #d9c085;
}

.text-hover-brown-light-5:hover {
  color: #d9c085;
}

.bg-brown-light-5 {
  background-color: #d9c085;
}

.text-brown-light-6 {
  color: #e1cc9d;
}

.text-hover-brown-light-6:hover {
  color: #e1cc9d;
}

.bg-brown-light-6 {
  background-color: #e1cc9d;
}

.text-brown-light-7 {
  color: #e8d9b6;
}

.text-hover-brown-light-7:hover {
  color: #e8d9b6;
}

.bg-brown-light-7 {
  background-color: #e8d9b6;
}

.text-brown-light-8 {
  color: #f0e6ce;
}

.text-hover-brown-light-8:hover {
  color: #f0e6ce;
}

.bg-brown-light-8 {
  background-color: #f0e6ce;
}

.text-brown-light-9 {
  color: #f7f2e7;
}

.text-hover-brown-light-9:hover {
  color: #f7f2e7;
}

.bg-brown-light-9 {
  background-color: #f7f2e7;
}

.text-brown-dark-1 {
  color: #a17309;
}

.text-hover-brown-dark-1:hover {
  color: #a17309;
}

.bg-brown-dark-1 {
  background-color: #a17309;
}

.text-brown-dark-2 {
  color: #8f6608;
}

.text-hover-brown-dark-2:hover {
  color: #8f6608;
}

.bg-brown-dark-2 {
  background-color: #8f6608;
}

.text-brown-dark-3 {
  color: #7d5a07;
}

.text-hover-brown-dark-3:hover {
  color: #7d5a07;
}

.bg-brown-dark-3 {
  background-color: #7d5a07;
}

.text-brown-dark-4 {
  color: #6b4d06;
}

.text-hover-brown-dark-4:hover {
  color: #6b4d06;
}

.bg-brown-dark-4 {
  background-color: #6b4d06;
}

.text-brown-dark-5 {
  color: #5a4005;
}

.text-hover-brown-dark-5:hover {
  color: #5a4005;
}

.bg-brown-dark-5 {
  background-color: #5a4005;
}

.text-brown-dark-6 {
  color: #483304;
}

.text-hover-brown-dark-6:hover {
  color: #483304;
}

.bg-brown-dark-6 {
  background-color: #483304;
}

.text-brown-dark-7 {
  color: #362603;
}

.text-hover-brown-dark-7:hover {
  color: #362603;
}

.bg-brown-dark-7 {
  background-color: #362603;
}

.text-brown-dark-8 {
  color: #241a02;
}

.text-hover-brown-dark-8:hover {
  color: #241a02;
}

.bg-brown-dark-8 {
  background-color: #241a02;
}

.text-brown-dark-9 {
  color: #120d01;
}

.text-hover-brown-dark-9:hover {
  color: #120d01;
}

.bg-brown-dark-9 {
  background-color: #120d01;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.text-black {
  color: black;
}

.text-hover-black:hover {
  color: black;
}

.bg-black {
  background-color: black;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #e2e2e2;
}

.btn-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #e61919;
}
.btn-red:hover {
  background-color: #e93030;
}

.btn-outline-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #fff;
  border: 5px solid #e61919;
}
.btn-outline-red:hover {
  background-color: #e61919;
}

.btn-complement-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #e61919;
  color: #a3f5f5;
}
.btn-complement-red:hover {
  color: #e61919;
  background-color: #a3f5f5;
}

.btn-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #e6e619;
}
.btn-yellow:hover {
  background-color: #e9e930;
}

.btn-outline-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #fff;
  border: 5px solid #e6e619;
}
.btn-outline-yellow:hover {
  background-color: #e6e619;
}

.btn-complement-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #e6e619;
  color: #a3a3f5;
}
.btn-complement-yellow:hover {
  color: #e6e619;
  background-color: #a3a3f5;
}

.btn-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #19e650;
}
.btn-green:hover {
  background-color: #30e962;
}

.btn-outline-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #fff;
  border: 5px solid #19e650;
}
.btn-outline-green:hover {
  background-color: #19e650;
}

.btn-complement-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #19e650;
  color: #f5a3df;
}
.btn-complement-green:hover {
  color: #19e650;
  background-color: #f5a3df;
}

.btn-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #e319e6;
}
.btn-purple:hover {
  background-color: #e630e9;
}

.btn-outline-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #fff;
  border: 5px solid #e319e6;
}
.btn-outline-purple:hover {
  background-color: #e319e6;
}

.btn-complement-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #e319e6;
  color: #a4f5a3;
}
.btn-complement-purple:hover {
  color: #e319e6;
  background-color: #a4f5a3;
}

.btn-pink {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #ed8ade;
}
.btn-pink:hover {
  background-color: #f0a0e4;
}

.btn-outline-pink {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #fff;
  border: 5px solid #ed8ade;
}
.btn-outline-pink:hover {
  background-color: #ed8ade;
}

.btn-complement-pink {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #ed8ade;
  color: white;
}
.btn-complement-pink:hover {
  color: #ed8ade;
  background-color: white;
}

.btn-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #e08920;
}
.btn-orange:hover {
  background-color: #e39536;
}

.btn-outline-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #fff;
  border: 5px solid #e08920;
}
.btn-outline-orange:hover {
  background-color: #e08920;
}

.btn-complement-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #e08920;
  color: #a6c9f3;
}
.btn-complement-orange:hover {
  color: #e08920;
  background-color: #a6c9f3;
}

.btn-brown {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #b3800a;
}
.btn-brown:hover {
  background-color: #cb910b;
}

.btn-outline-brown {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #fff;
  border: 5px solid #b3800a;
}
.btn-outline-brown:hover {
  background-color: #b3800a;
}

.btn-complement-brown {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #b3800a;
  color: #608df6;
}
.btn-complement-brown:hover {
  color: #b3800a;
  background-color: #608df6;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: white;
}
.btn-white:hover {
  background-color: white;
}

.btn-outline-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #fff;
  border: 5px solid white;
}
.btn-outline-white:hover {
  background-color: white;
}

.btn-complement-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: white;
  color: white;
}
.btn-complement-white:hover {
  color: white;
  background-color: white;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: black;
}
.btn-black:hover {
  background-color: #0d0d0d;
}

.btn-outline-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: #fff;
  border: 5px solid black;
}
.btn-outline-black:hover {
  background-color: black;
}

.btn-complement-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  background-color: black;
  color: #4d4d4d;
}
.btn-complement-black:hover {
  color: black;
  background-color: #4d4d4d;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4.5rem;
}

.p-5 {
  padding: 6rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.pl-5 {
  padding-left: 6rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pr-5 {
  padding-right: 6rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pt-5 {
  padding-top: 6rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 25px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 6.25px;
}

.br-sm {
  border-radius: 12.5px;
}

.br-lg {
  border-radius: 50px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1.5rem;
}

.font-lg {
  font-size: 2rem;
}

.font-xl {
  font-size: 3rem;
}

.font-xxl {
  font-size: 4rem;
}

@media (min-width: 0) {
  .responsive-test {
    color: red;
  }
}
@media (min-width: 480px) {
  .responsive-test {
    color: blue;
  }
}
@media (min-width: 720px) {
  .responsive-test {
    color: green;
  }
}
@media (min-width: 960px) {
  .responsive-test {
    color: purple;
  }
}
@media (min-width: 1200px) {
  .responsive-test {
    color: orange;
  }
}
@media (min-width: 1400px) {
  .responsive-test {
    color: pink;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.flex-layout, .navbar .container, .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  padding: 0.75rem 1.5rem;
}
.navbar .site-title {
  font-size: 2rem;
}
body {
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: peru;
  font-size: 3rem;
}
h1 a {
  color: peru;
  text-decoration: none;
}
h1 a:hover {
  color: pink;
  border: solid 1px pink;
  padding: 10px;
}

h2 {
  color: gold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
}
h2 a {
  color: gold;
  text-decoration: line-through;
}
h2 a:hover {
  color: pink;
  border: solid 1px pink;
  padding: 10px;
  text-decoration: none;
}

h3 {
  border: 2.5px solid green;
  border-radius: 12.5px;
  background-color: #e6e619;
}

.card {
  border: 1px solid green;
}