
//theme colors
$header: peru;
$hover: pink;
$line-trough: gold;

$colors: (
    "red" : #e61919,
    "yellow" : #e6e619, 
    "green" : #19e650, 
    "purple" : #e319e6, 
    "pink" : #ed8ade, 
    "orange" : #e08920, 
    "brown" : #b3800a, 
    "white" : white,
    "black" : black,
);

//spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;